.container-card {
  background-color : var(--gray);
  margin: 1rem;
}

table {
  border-collapse: collapse;
  list-style: none;
  padding: 0;
  margin: 0;
  width:100% !important;
}

th {
  border-width: 1px;
  width: 9%;
  border-style: solid;
  border-color: var(--dark-gray);
}

td {
  border-width: 1px;
  width: 9%;
  border-style: solid;
  border-color: var(--dark-gray);
}
