<app-subheader>MNIST Handwriting Detection</app-subheader>

<div class="content-container">
  <mat-card class="container-card">
    <mat-button-toggle-group class="button">
      <mat-button-toggle
        [checked]="gridmng.drawMode"
        (click)="gridmng.drawMode = true"
        >Draw</mat-button-toggle
      >
      <mat-button-toggle
        [checked]="!gridmng.drawMode"
        (click)="gridmng.drawMode = false"
        >Erase</mat-button-toggle
      >
    </mat-button-toggle-group>

    <br />



  <button
    class="button"
    mat-raised-button
    color="primary"
    (click)="predict()"
  >
    Predict
  </button>
    <button
      class="button"
      mat-raised-button
      color="warn"
      (click)="gridmng.clearAll()"
    >
      Clear Grid
    </button>

  <br>

  <table *ngIf="WSM.DesktopMode">
    <tr>
      <th>Type</th>
      <th *ngFor="let idx of pred_vector_idx">{{idx}}</th>
    </tr>
    <tr>
      <td>CNN</td>
      <td [style.backgroundColor]="getColor(pred)" *ngFor="let pred of pred_vector_CNN">{{pred}}</td>
    </tr>
    <tr>
      <td>DNN</td>
      <td [style.backgroundColor]="getColor(pred)" *ngFor="let pred of pred_vector_DNN">{{pred}}</td>
    </tr>
  </table>

  <mat-card *ngIf="!WSM.DesktopMode">
    <p>The DNN predictet {{DNN_max["number"]}} with a probability of {{DNN_max["probability"]}}%</p>
    <p>The CNN predictet {{CNN_max["number"]}} with a probability of {{CNN_max["probability"]}}%</p>
  </mat-card>



  </mat-card>

  <app-pixel-canvas></app-pixel-canvas>

  <br>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How to use
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>You start by drawing a number.</p>
      <p>After that you can click "Predict" and the data gets send to a Backend, where it gets evaluated by two Neural Networks</p>
      <p>After this, the table will display the predicitons of the Models</p>
      <p>Im using a <a href="https://en.wikipedia.org/wiki/Convolutional_neural_network">Convolutional Neural Network</a> and
         a <a href="https://en.wikipedia.org/wiki/Artificial_neural_network">Deep Neural Network</a></p>
      <p>
        For more infos you can take a look at my <a href="https://github.com/dudenheini/FlaskBackend">GitHub Repo</a>
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <br />
</div>
