<!-- Big Toolbar -->
<mat-toolbar *ngIf="WSM.DesktopMode" class="header">
  <span>
    <a routerLink="/" class="brand middle">Jan's Tests</a>
  </span>
  <div class="spacer2"></div>
  <ul class="horizontal">
    <li *ngFor="let link of links.headerLinks">
      <a mat-button [routerLink]="[link.route]">{{ link.name }}</a>
    </li>
  </ul>
  <div class="spacer"></div>
  <a mat-button (click)="TM.switchTheme()">
    <mat-icon *ngIf="!TM.alt">brightness_3</mat-icon>
    <mat-icon *ngIf="TM.alt">brightness_5</mat-icon>
  </a>
  <p>
    <a mat-button href="https://github.com/dudenheini/AngularWebsite">
      <img
        src="../../assets/img/giticon.svg"
        [ngStyle]="{ filter: TM.dark ? 'invert(0)' : 'invert(1)' }"
        alt="angular"
      />
      GitHub
    </a>
  </p>
</mat-toolbar>

<!-- Small Toolbar -->
<mat-toolbar *ngIf="!WSM.DesktopMode" class="mobile-header">
  <mat-toolbar-row style="height: 56px">
    <span>
      <a routerLink="/" class="brand middle">Jan's Tests</a>
    </span>

    <div class="spacer"></div>
    <a mat-button (click)="TM.switchTheme()">
      <mat-icon *ngIf="!TM.alt">brightness_3</mat-icon>
      <mat-icon *ngIf="TM.alt">brightness_5</mat-icon>
    </a>
    <p>
      <a mat-button href="https://github.com/dudenheini/AngularWebsite">
        <img src="../../assets/img/giticon.svg" alt="angular" />
        GitHub
      </a>
    </p>
  </mat-toolbar-row>

  <mat-toolbar-row class="mobile-header-row">
    <ul class="mobile-horizontal-list">
      <li *ngFor="let link of links.headerLinks" class="list-item">
        <a
          class="link-button-mobile"
          mat-button
          (click)="WSM.DrawerToggle = false"
          [routerLink]="[link.route]"
          >{{ link.name }}</a
        >
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
