<!-- Big Toolbar -->
<mat-toolbar *ngIf="bigScreen" color="primary" class="header">
  <span>
    <a routerLink="/" class="middle">Jan's Tests</a>
  </span>
  <div class="spacer2"></div>
  <ul class="horizontal">
    <li *ngFor="let link of links"><a mat-button [routerLink]="[link.route]" class="middle">{{ link.name }}</a></li>
  </ul>
  <div class="spacer"></div>

    <a mat-button class="middle" href="https://github.com/dudenheini/AngularWebsite">
      <img class="middle"
      src="../../assets/img/giticon.svg"
      alt="angular">
      Github
    </a>
</mat-toolbar>

<!-- Small Toolbar -->
<mat-toolbar *ngIf="!bigScreen" color="primary" class="mobile-header">
  <mat-toolbar-row>
    <span>
      <a routerLink="/" class="middle">Jan's Tests</a>
    </span>

    <div class="spacer"></div>

    <a mat-button class="middle" href="https://github.com/dudenheini/AngularWebsite">
      <img class="middle"
      src="../../assets/img/giticon.svg"
      alt="angular">
      Github
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row class="mobile-header-row">
    <ul class="mobile-horizontal-list">
      <li *ngFor="let link of links" class="list-item"><a class="link-button-mobile" mat-button [routerLink]="[link.route]">{{ link.name }}</a></li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
