<mat-toolbar color="primary" class="header">
  <span>
    <a href="#" routerLink="/" class="middle">Jan's Tests</a>
  </span>
  <div class="spacer2"></div>
  <ul class="horizontal">
    <li><a mat-button routerLink="/PP/Start" class="middle">Programmier Projekte</a></li>
    <li><a mat-button routerLink="/ML/Start" class="middle" >Machine learning</a></li>
    <li><a mat-button routerLink="/ETC" class="middle">Sonstiges</a></li>
  </ul>
  <div class="spacer"></div>

    <a mat-button class="middle" href="https://github.com/dudenheini/AngularWebsite">
      <img class="middle"
      src="../../assets/img/giticon.svg"
      alt="angular">
      Github
    </a>
</mat-toolbar>
