<app-subheader>Levy C curve Generator</app-subheader>
<br>
<div class="content-container">

  <mat-card style="background-color: #424242; text-align: center;">

    <mat-button-toggle-group class="button">
      <mat-button-toggle  [checked]="NMG.roleMode ==='draw'" (click) = "NMG.roleMode ='draw'">Draw</mat-button-toggle>
      <mat-button-toggle  [checked]="NMG.roleMode ==='source'" (click) = "NMG.roleMode ='source'">Set Rotation Point</mat-button-toggle>
      <mat-button-toggle [checked]="NMG.roleMode ==='dest'" (click) = "NMG.roleMode ='dest'">Set Anchor Point</mat-button-toggle>
      <mat-button-toggle [checked]="NMG.roleMode ==='none'" (click) = "NMG.roleMode ='none'">Erase</mat-button-toggle>
    </mat-button-toggle-group>

    <br>

    <mat-form-field class="num-input">
      <input
        matInput
        type = "number"
        style="padding: 0;"
        [(ngModel)]="newGridsize">
    </mat-form-field>

    <button
      class="button"
      mat-raised-button color="accent"
      (click) = "NMG.setGridsize(newGridsize)"
      >Set Gridsize
    </button>

    <button
      class="button"
      mat-raised-button
      color="warn"
      (click) = "NMG.resetNetwork()"
      >Clear Grid
    </button>
    <br>

    <button mat-raised-button class="button" color="primary" (click)="fracStep()">Step</button>
  </mat-card>

  <br>

  <app-a-star-grid></app-a-star-grid>

  <br>

  <mat-accordion >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How to use
        </mat-panel-title>
      </mat-expansion-panel-header>
        <mat-card style="text-align: center; background-color: #303030;">
          <p>Set a Rotationnode and an Anchornode.</p>
          <p>Then draw something.</p>
          <p>The drawn object will be rotated 90° and the Anchornode will be matched to the previous Rotation node.</p>
          <p>This will, in turn, generate a <a href="https://en.wikipedia.org/wiki/L%C3%A9vy_C_curve">Levy C curve</a></p>
        </mat-card>
    </mat-expansion-panel>

  </mat-accordion>

  <br>

</div>
