<app-subheader>Fractal Generator (Not Functional)</app-subheader>
<br>
<div class="content-container">

  <mat-card style="background-color: #424242; text-align: center;">

    <mat-button-toggle-group>
      <mat-button-toggle  [checked]="NMG.roleMode ==='draw'" (click) = "NMG.roleMode ='draw'">Draw</mat-button-toggle>
      <mat-button-toggle  [checked]="NMG.roleMode ==='source'" (click) = "NMG.roleMode ='source'">Set Rotation Point</mat-button-toggle>
      <mat-button-toggle [checked]="NMG.roleMode ==='dest'" (click) = "NMG.roleMode ='dest'">Set Anchor Point</mat-button-toggle>
      <mat-button-toggle [checked]="NMG.roleMode ==='none'" (click) = "NMG.roleMode ='none'">Erase</mat-button-toggle>
    </mat-button-toggle-group>

    <br>

    <mat-form-field class="num-input button">
      <input
        matInput
        type = "number"
        style="padding: 0;"
        [(ngModel)]="newGridsize">
    </mat-form-field>

    <button
      class="button"
      mat-raised-button color="accent"
      (click) = "NMG.setGridsize(newGridsize)"
      >Set Gridsize
    </button>

    <button
      class="button"
      mat-raised-button
      color="warn"
      (click) = "NMG.resetNetwork()"
      >Clear Grid
    </button>
    <br>

    <button mat-raised-button class="button" color="primary">Step</button>
  </mat-card>

  <br>

  <app-a-star-grid></app-a-star-grid>

  <br>

  <mat-accordion >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How to use
        </mat-panel-title>
      </mat-expansion-panel-header>
        <mat-card style="text-align: center; background-color: #303030;">
          <p>Sample Text</p>
        </mat-card>
    </mat-expansion-panel>

  </mat-accordion>

  <br>

</div>
