<app-subheader>MNIST Number Generator</app-subheader>

<div class="content-container">

  <br>

    <button
    class="button"
    mat-raised-button
    color="primary"
    (click)="getRandomNumber()"
  >
    Generate Random Number
  </button>

  <br>

  <app-pixel-canvas [clickable]="false"></app-pixel-canvas>

  <br>

  <mat-accordion [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Latent Vector Options
        </mat-panel-title>
      </mat-expansion-panel-header>

        <mat-slider
        [vertical] = "true"
        [(ngModel)]="L0"
        min="0"
        max="1"
        (input)="(L0 = $event.value) && getNumber()"
        step = "0.01"
        ></mat-slider>
        <mat-slider
        [vertical] = "true"
        [(ngModel)]="L1"
        min="0"
        max="1"
        (input)="(L1 = $event.value) && getNumber()"
        step = "0.01"
        ></mat-slider>
        <mat-slider
        [vertical] = "true"
        [(ngModel)]="L2"
        min="0"
        max="1"
        (input)="(L2 = $event.value) && getNumber()"
        step = "0.01"
        ></mat-slider>
        <mat-slider
        [vertical] = "true"
        [(ngModel)]="L3"
        min="0"
        max="1"
        (input)="(L3 = $event.value) && getNumber()"
        step = "0.01"
        ></mat-slider>
        <mat-slider
        [vertical] = "true"
        [(ngModel)]="L4"
        min="0"
        max="1"
        (input)="(L4 = $event.value) && getNumber()"
        step = "0.01"
        ></mat-slider>
        <mat-slider
        [vertical] = "true"
        [(ngModel)]="L5"
        min="0"
        max="1"
        (input)="(L5 = $event.value) && getNumber()"
        step = "0.01"
        ></mat-slider>
        <mat-slider
        [vertical] = "true"
        [(ngModel)]="L6"
        min="0"
        max="1"
        (input)="(L6 = $event.value) && getNumber()"
        step = "0.01"
        ></mat-slider>
        <mat-slider
        [vertical] = "true"
        [(ngModel)]="L7"
        min="0"
        max="1"
        (input)="(L7 = $event.value) && getNumber()"
        step = "0.01"
        ></mat-slider>
        <mat-slider
        [vertical] = "true"
        [(ngModel)]="L8"
        min="0"
        max="1"
        (input)="(L8 = $event.value) && getNumber()"
        step = "0.01"
        ></mat-slider>
        <mat-slider
        [vertical] = "true"
        [(ngModel)]="L9"
        min="0"
        max="1"
        (input)="(L9 = $event.value) && getNumber()"
        step = "0.01"
        ></mat-slider>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How to use
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>You can either generate a random Number or play around with the Latent Space Vector values.</p>
      <p>Each slider represents a base vector of the Latent Space which is fed into the Generator Network to generate an image.</p>
      <p>This implementation uses a simple selfwritten <a href="https://en.wikipedia.org/wiki/Generative_adversarial_network">GAN</a> , for more info take a look inside the <a href="https://github.com/dudenheini/FlaskBackend">Github Repo</a></p>
    </mat-expansion-panel>
  </mat-accordion>
  <br />
</div>
