<div class="mainHeader-container">
  <div class="mainHeader">
    <h1 class = "heading">
      Jan's Tests
    </h1>
    <h3 class="subHeading">
      A Sandbox Website
    </h3>
  </div>
</div>

<div class="content-container">
    <h1>This site needs some work!</h1>
    <p>At the moment not much is implemented, but im working on it.</p>
    <p>This website is just for fun and a sandbox for my ideas.</p>
    <ul class="vertical"> <h3>TODO</h3>
      <li>Porting my Neural Networks</li>
      <li>Implementing a Backend</li>
      <li>Adjust Themeing</li>
      <li>...and much more!</li>
    </ul>

</div>
