<div class="mainHeader-container">
  <div class="mainHeader">
    <h1 class = "heading">
      Jan's Tests
    </h1>
    <h3 class="subHeading">
      A Sandbox Website
    </h3>
  </div>
</div>

<div class="content-container">
    <h1>Hier kommt mehr hin</h1>
    <p>Aktuell ist nicht viel Implementiert, daran arbeite ich grade, <br> diese Website ist aber nur zum Spaß und als Experimentierlabor für meine Ideen gedacht!</p>
    <ul class="vertical"> <h3>TODO</h3>
      <li>Vll ein Altklausurarchiv?</li>
      <li>Netzwerke porten</li>
      <li>Backend aufsetzen</li>
      <li>Farbschema anpassen</li>
      <li>...Und vieles mehr!</li>
    </ul>

</div>
