@import '~@angular/material/theming';

@mixin app-homepage-theme($theme) {
  $primary: map-get($theme , primary );
  $accent: map-get($theme , accent );
  $warn: map-get($theme , warn );
  $foreground: map-get($theme , foreground );
  $background: map-get($theme , background );

  app-homepage{
    color: mat-color($foreground,text,0.7)
  }
}

