.main-content-container-desktop {
  position: absolute;
  top: 56px;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
}

.main-content-container-mobile{
  position: absolute;
  top: 112px;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
}
