.showcase {
  margin:0.5rem;
}

.card-content{
overflow: hidden;
clear: both;
}

p{
  margin: 0;
}

.image {
  float: right;
  width: 100px;
  height: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0;
  margin-left: 10px;
}

