.showcase {
  margin: 0.5rem;
}

.card-content {
  overflow: hidden;
  clear: both;
}
.showcase:hover {
  cursor: pointer;
  -moz-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
  transition: 0.1s;
}

p {
  margin: 0;
}

.image {
  float: right;
  width: 100px;
  height: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0;
  margin-left: 10px;
}
