@import "~@angular/material/theming";

@mixin app-mainheader-colorful-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-mainheader-colorful {
    .background {
      background-color: mat-color($primary);
    }
  }
}
