<app-subheader> Tree Fractal Generator </app-subheader>

<div class="content-container">
  <br />
  <button
    mat-flat-button
    class="button"
    color="primary"
    (click)="drawRandomTree()"
  >
    Draw Random
  </button>
  <br />

  <canvas id="Canvas" #canvas></canvas>
  <br />
  <br />
  <mat-accordion [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Options
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="width: 50%; margin:auto;">
        Angle change Left: <span style="margin-left: 0.5rem;">{{deltaAngleL}}°</span>
        <mat-slider
        [(ngModel)]="deltaAngleL"
        min="0"
        max="180"
        (input)="(deltaAngleL = $event.value) && clearAndDraw()"
        ></mat-slider>
        <br />
        Angle change Right: <span style="margin-left: 0.5rem;">{{deltaAngleR}}°</span>
        <mat-slider
        [(ngModel)]="deltaAngleR"
        min="0"
        max="180"
        (input)="(deltaAngleR = $event.value) && clearAndDraw()"
        ></mat-slider>
        <br />
        Branch Length: <span style="margin-left: 0.5rem;">{{treeLen}} px</span>
        <mat-slider
        [(ngModel)]="treeLen"
        min="1"
        max="150"
        (input)="(treeLen = $event.value) && clearAndDraw()"
        ></mat-slider>
        <br />
        Iterations: <span style="margin-left: 0.5rem;">{{maxIter}}</span>
        <mat-slider
        [(ngModel)]="maxIter"
        min="1"
        max="10"
        (input)="(maxIter = $event.value) && clearAndDraw()"
        ></mat-slider>
        <br />
        Length Change: <span style="margin-left: 0.5rem;">{{lenChange}} %</span>
        <mat-slider
        [(ngModel)]="lenChange"
        min="1"
        max="100"
        (input)="(lenChange = $event.value) && clearAndDraw()"
        ></mat-slider>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <br />
</div>
