<div
class="reactive-container"
[ngStyle]="{'width': WSM.DesktopMode?'49%':'100%'}"
>

  <p>Test Scentece</p>

  <div
  class="nodeGrid-container"
  (mousedown)="mouseDown = true"
  (mouseup)="mouseDown = false"
  >

    <table class="nodeGrid">
      <tr
      *ngFor="let row of gridmng.gridArr"
      >
        <td
        class="node"
        *ngFor="let cell of row"
        [ngStyle]="{
          'background-color': cell.clicked?'black':'transparent'}"
        (mousedown)="gridmng.colorPixel(cell)"
        (mouseover)="onHover(cell)"
        ></td>
      </tr>
    </table>
  </div>
</div>

