<div
class="reactive-container"
[ngStyle]="{'width': WSM.DesktopMode?'49%':'100%'}"
>
  <div
  class="nodeGrid-container"
  (mousedown)="mouseDown = true"
  (mouseup)="mouseDown = false"
  >

    <table class="nodeGrid">
      <tr
      *ngFor="let row of gridmng.gridArr"
      >
        <td
        class="node"
        *ngFor="let cell of row"
        [ngStyle]="{
          'background-color': getColor(cell)}"
        (mousedown)="onClick(cell)"
        (mouseover)="onHover(cell)"
        ></td>
      </tr>
    </table>
  </div>
</div>

