<mat-card style="background-color: #303030; text-align: center;">
      <mat-button-toggle-group>
        <mat-button-toggle  [checked]="gridmng.drawMode" (click) = "gridmng.drawMode = true">Draw</mat-button-toggle>
        <mat-button-toggle [checked]="!gridmng.drawMode" (click) = "gridmng.drawMode = false">Erase</mat-button-toggle>
      </mat-button-toggle-group>

      <br>

    <mat-form-field class="num-input button">
      <input
        matInput
        type = "number"
        style="padding: 0;"
        [(ngModel)]="newGridsize">
    </mat-form-field>

    <button
      class="button"
      mat-raised-button color="primary"
      (click) = "gridmng.setGridsize(newGridsize)"
      >Set Gridsize
    </button>

    <button
      class="button"
      mat-raised-button
      color="warn"
      (click) = "gridmng.clearAll()"
      >Clear Grid
   </button>


</mat-card>
