#video {
  position: absolute;
  width: 100%;

  top: 56px;
  left: 0;
  bottom: 0;
  right: 0;
}

.color-gradient {
  height: 100px;
  width: 100%;
  background-color: rgba(var(--fg),1) !important;
}
