.middle{
  display: block;
  margin: auto;
  }

h1{
    text-align: center;
  }
.content-container{
    margin: auto;
    width: 80%;

  }

.control-button{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
