<h1>Conways Game of Life</h1>

<div class="canvas-container">
  <mat-accordion >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Controls
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <app-canvas-control></app-canvas-control>
    </mat-expansion-panel>
  </mat-accordion>

  <br>

  <div style="text-align: center;">
    <button mat-raised-button (click)="GOLStep()" >step</button>
  </div>

  <br>

  <app-pixel-canvas [enableCanvasControl]="false"></app-pixel-canvas>
</div>
