<h1>Conways Game of Life</h1>

<div class="content-container">
  <mat-accordion [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Canvas Controls
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-canvas-control></app-canvas-control>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Time Controls
        </mat-panel-title>
      </mat-expansion-panel-header>
        <mat-card style="text-align: center; background-color: #303030;">
          Timestep Slider
              <mat-slider
              [disabled]="simulating"
              thumbLabel
              [(ngModel)]="timestep"
              tickInterval="10"
              min="10"
              max="1000"></mat-slider>
            <br>
            <button [disabled]="simulating" class="control-button" mat-raised-button color="primary" (click)="StartGOL()" >Start</button>
            <button [disabled]="!simulating" class="control-button" mat-raised-button color="warn" (click)="StopGOL()" >Stop</button>
            <button [disabled]="simulating" class="control-button" mat-raised-button color="accent" (click)="GOLStep()" >Step</button>
        </mat-card>
    </mat-expansion-panel>
  </mat-accordion>

  <br>

  <app-pixel-canvas></app-pixel-canvas>

  <br>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Additional Options
      </mat-panel-title>
    </mat-expansion-panel-header>
      <mat-card style="text-align: center; background-color: #303030;">
        More Neighbors than
        <mat-form-field class="num-input">
          <input
            matInput
            type = "number"
            [disabled]="simulating"
            style="padding: 0;"
            [(ngModel)]="nMoreToDie">
        </mat-form-field>
         to Die

        <br>
        Less Neighbors than
        <mat-form-field class="num-input">
          <input
            matInput
            [type]="'number'"
            [disabled]="simulating"
            style="padding: 0;"
            [(ngModel)]="nLessToDie">
        </mat-form-field>
        to Die

        <br>
        Exact number of Neighbors to get born:
        <mat-form-field class="num-input">
          <input
            matInput
            [disabled]="simulating"
            type = "number"
            style="padding: 0;"
            [(ngModel)]="nToLive">
        </mat-form-field>

      </mat-card>
  </mat-expansion-panel>
</mat-accordion>
<br>
</div>
