.sidenav-container {
  height: 100%;
  width: 100%;
}

.sidenav-list {
  width: 200px;
  height: 100%;
}

.enabled-link{
  text-decoration: none;
  color: var(--light-gray);
  background: transparent;
}

.disabled-link{
  text-decoration: line-through;
  color: var(--light-gray);
  background: transparent;
}

.active-link {
  background: rgba(114, 114, 114, 0.281);
  color: #ffffff;
}


.horizontal {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.middle {
  vertical-align: middle;
}


.router-container {
  overflow: auto;
  height: 100%;
  width: 100%;
}
