.sidenav-container {
  height: 100%;
  width: 100%;
}

.sidenav-list {
  width: 200px;
  height: 100%;
}

.horizontal {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.middle {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.spacer {
  flex: 1 1 auto;
}

.spacer2 {
  margin-left: 5rem;
}

.router-container {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.active-link {
  background-color: #303030;
}
