.sidenav-container {
  background: transparent;
}

.sidenav-list {
  width: 10%;
  background: #eee;
}

.horizontal {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.middle {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.spacer2 {
  margin-left: 5rem;
}
