@import '~@angular/material/theming';

@mixin app-sidenav-theme($theme) {
  $primary: map-get($theme , primary );
  $accent: map-get($theme , accent );
  $warn: map-get($theme , warn );
  $foreground: map-get($theme , foreground );
  $background: map-get($theme , background );

  app-sidenav{

      .router-container{
        color: mat-color($foreground,text,0.7);
      }

      .enabled-link{
        color:mat-color($foreground, text) !important;
        background-color: transparent !important;
        :hover{
          background-color: mat-color($primary, darker, 0.1);
        }
      }

      .disabled-link{
        color:mat-color($foreground, text) !important;
        background-color: transparent !important;
      }

      .active-link {
        background-color: mat-color($primary, darker, 0.25) !important;
        color:mat-color($primary) !important;
        :hover{
          background-color: transparent !important;
        }
      }
  }
}

