/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import "./Styles/Scrollbar.css";
@import "./Styles/NodeGrid.css";
@import "./Styles/rangeSlider.css";

:root {
  --light-gray: hsla(0,0%,100%,.7);
  --gray: #424242;
  --dark-gray: #303030;
  --red: #dc0000;
}

html, body {
    height: 100%;
    }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.num-input{
  width: 40px;
  text-align: center;
  }

.content-container{
  width: 80%;
  text-align: center;
  margin: auto;
  color: var(--light-gray);
  font-size: large;
}

.button{
  margin-right:0.5rem !important;
  margin-left:0.5rem !important;
  margin-bottom:1rem !important;
}



/* Removes arrows on Num inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  color: var(--red);
}
