/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import "./Styles/Scrollbar.css";
@import "./Styles/NodeGrid.css";


html, body {
    height: 100%;
    }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}



.content-container{
  width: 80%;
  text-align: center;
  margin: auto;
}

.button{
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}



/* Removes arrows on Num inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
